
html { overflow-x: hidden; }
body
{
   font-family: "Montserrat";
     text-align: center;
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat';
font-weight:bold;
}

p
{
color:#8f8f8f;/*grey*/

}
/*Headings*/
.big-heading
{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight:bold;
}


#title .container-fluid
{
   padding: 3% 15% 6%;
   text-align: left;

}
/*Section*/
.colored-section
{
  background-color: #ff4c68;
  color:#fff;
}
.white-section
{
  background-color: #fff;
}




/*Navigation Bar*/
.navbar-brand
{
font-family:"Ubuntu";
font-size: 2.5rem;
}

.navbar
{
  padding-bottom: 4.5rem;
}
.nav-item
{
  padding:0 18px;
}

.nav-link
{
font-size: 1.2rem;
font-family: 'Montserrat';
}
/*Downloads Button*/
.download-button
{

  margin:5% 3% 5% 0;
}
.title-image
{
  width:18%;
  transform: rotate(25deg);
  position: absolute;
  right:30%;

  }
/*Feature*/
#features
{
  padding:7% 15%;
  text-align:center;

  position: relative;
  z-index: 1;
}
.icon /*User defined class*/
{
    color: #ef8172;
    margin-bottom:1rem;
}
.icon:hover /*User defined class*/
{
    color: #ff4c68;
}

/*Testimonial Section*/

#testimonials
{
  background-color: #ef8172;

}
.testimonials-text
{
  font-size: 3rem;
  line-height:1.5;

}
.testimonial-image
{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item
{
    padding:7% 20%;
}
#press
{

  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo
{
  width:15%;
  margin:20px 20px 50px;
}
/*Pricing Section*/
#pricing
{

  padding:100px;
}

.price-text
{
  font-size: 3rem;
  line-height:1.5;

}
.pricing-column
{
  padding:3% 2%;

  background-color: #fff;
}
@media (max-width:1028px)
{
  .title-image
  {
      position: static;
      transform: rotate(0);
      width:60%;
  }
  #title
  {
      text-align: center;
  }
}
/*CTA(Call to Action) Section*/
#cta
{
    color:#fff;
    background-color: #ff4c68;

    padding:3% 20%;
}

/*footer*/


.f-button
{
  padding:2%;
}
