body
{
background-color:white;
margin:0;
text-align:center;
font-family: 'Merriweather',serif;
color:#40514E;
}
p
{

  line-height: 2;
}

h1
{
  font-size: 562.5%;
  margin-top: 50px auto 0px auto;
  font-family: 'Montserrat',sans-sans-serif;
  color:#66BFBF;
  line-height: 2;
}
h2
{
  font-size: 2.5 rem;
  font-family: 'Montserrat',sans-serif;
    color:#66BFBF;
    font-weight:normal;
    padding-bottom: 10px;

}
.skill-row
{
  margin:100px auto 150px auto;
  width: 50%;
  text-align: left;
}
.skillimg
{
width:25%;
float: left;
margin-right: 30px;
}
.skillimg2
{
width:25%;
float: right;
margin-right: 30px;
}
h3
{
font-family:"Montserrat",sans-serif;
  color:#11999E;
}
a
{
font-family:"Montserrat",sans-serif;
  color:#11999E;
margin:10px 20px;
text-decoration: none
}
a:hover{
    color:#EAF6F6;
}
hr
{

border:dotted  #EAF6F6 6px;
border-bottom: none;
width:4%;

margin: 100px auto;

}
.top-container
{
  background-color: #E4F9F5;
  padding-top: 100px;
  position:relative;

}
.middle-container
{
margin:100px 0;
}
.bottom-container
{
margin:100px 0 0px;;
background-color: #66BFBF;
padding: 50px 0 20px;
}
.top-cloud{
position: absolute;
right: 300px;
top: 40px;

}
.intro
{
  margin:auto;

width:30%;
}
.bottom-cloud{
position: absolute;
left :250px;
bottom: 300px;

}

  .contact-message
{
width:40%;
margin:40px auto 60px;
}

  .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright
{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;

}
